### **CASO BASE**: EXTERNALIDAES

In [ ]:
import pandas as pd

df_venta = pd.read_csv('venta_zona_1_20250115.csv')
print(df_venta.head())

   Unnamed: 0  id_zona  id_producto  venta_digital
0           0        1            1              1
1           1        1            2             23
2           2        1            3             37
3           3        1            4             18
4           4        1            5              1

In [ ]:
# Agrupar correctamente por 'id_zona' y sumar 'venta_digital'
suma_por_zona = df_venta.groupby('id_zona')['venta_digital'].sum().reset_index()
suma_por_zona = suma_por_zona.sort_values(by='venta_digital', ascending=False)

print(suma_por_zona.head())

      id_zona  venta_digital
802       803          33710
1179     1180          33504
1872     1873          33384
1308     1309          33253
438       439          33236

In [ ]:
# Añadimos la columna P_i = 32.8 * venta_digital
suma_por_zona['P_i'] = 32.8 * suma_por_zona['venta_digital']
suma_por_zona['A_k(P_i)'] = -0.0152 * suma_por_zona['P_i'] + 0.9

print(suma_por_zona.head())

      id_zona  venta_digital        P_i     A_k(P_i)
802       803          33710  1105688.0 -16805.55760
1179     1180          33504  1098931.2 -16702.85424
1872     1873          33384  1094995.2 -16643.02704
1308     1309          33253  1090698.4 -16577.71568
438       439          33236  1090140.8 -16569.24016

Realmente no comparable dado que la probabilidad de entrega es 0 como el precio es muy alto.

In [ ]:
print('utilidad total = 0')

utilidad total = 0

### **CASO BASE**: VALOR 0

In [2]:
import pandas as pd

df_simulacion = pd.read_csv('resultados_k3_v2.csv')
print(df_simulacion.head())

   cluster_ordenado  n_k (total clientes)  centroide       c_k  \
0                 0                   436  27.057647  0.062059
1                 1                  1333  44.859255  0.033653
2                 2                   430  72.690322  0.169047

   p_k (precio óptimo)  U_k (utilidad óptima)  p_k (entero óptimo)  \
0            29.361616            5795.883068            29.361616
1            29.361616           17737.161501            29.361616
2            29.926263            5695.588972            29.926263

   U_k (entero óptimo)
0          5795.883068
1         17737.161501
2          5695.588972

In [ ]:
beta = 0.0152
theta = 0.9

df_base= df_simulacion[['cluster_ordenado', 'n_k (total clientes)', 'centroide']].copy()
df_base['p_k'] = 0
df_base['A_k(p_k)'] = -beta * df_base['p_k'] + theta
df_base['U_k'] = df_base['n_k (total clientes)'] * df_base['A_k(p_k)'] * (df_base['p_k'] - df_base['centroide'])

print(df_base.head())

   cluster_ordenado  n_k (total clientes)  centroide  p_k  A_k(p_k)  \
0                 0                   436  27.057647    0       0.9
1                 1                  1333  44.859255    0       0.9
2                 2                   430  72.690322    0       0.9

            U_k
0 -10617.420706
1 -53817.647759
2 -28131.154564

In [4]:
utilidad_total = df_base['U_k'].sum()

print(utilidad_total)

-92566.22302896503